<p-toast position="top-center"></p-toast>
<div class="content-form">
  <p-card subheader="Ingresa tus Credenciales" class="card-form" styleClass="p-card-shadow">

    <form [formGroup]="formData" class="content-form">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-pencil"></i>
        <input formControlName="count" type="text" id="inputgroup" pInputText [ngClass]="{'ng-invalid ng-dirty': validFormDataControl('count')}">
        <label for="inputgroup">Usuario</label>
      </span>

      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-dollar"></i>
        <input formControlName="count" type="text" id="inputgroup" pInputText [ngClass]="{'ng-invalid ng-dirty': validFormDataControl('count')}">
        <label for="inputgroup">Usuario</label>
      </span>

    </form>


    <ng-template pTemplate="footer">
        <div class="content-footer">
          <p-button [disabled]="progress" label="Verificar" icon="pi pi-check"></p-button>
          <p-progressBar *ngIf="progress"  mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </ng-template>
  </p-card>
</div>

