
<div class="content-form">
  <p-card header="{{modelUpdate.id}}" subheader="{{subhead}}" class="card-form" styleClass="p-card-shadow">

    <form [formGroup]="formData" class="content-form">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-pencil"></i>
        <input formControlName="name" type="text" id="inputgroup" pInputText [ngClass]="{'ng-invalid ng-dirty': validFormDataControl('name')}">
        <label for="inputgroup">Nombre</label>
      </span>

      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-dollar"></i>
        <input formControlName="price" type="number" id="inputgroup" pInputText [ngClass]="{'ng-invalid ng-dirty': validFormDataControl('price')}">
        <label for="inputgroup">Precio</label>
      </span>

    </form>


    <ng-template pTemplate="footer">
        <div class="content-footer">
          <p-button *ngIf="!modify" [disabled]="progress" (onClick)="addArticle()" label="Agregar" icon="pi pi-plus"></p-button>
          <p-button *ngIf="modify" [disabled]="progress" (onClick)="updateArticle()" label="Actualizar" icon="pi pi-pencil"></p-button>
          <p-progressBar *ngIf="progress"  mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
    </ng-template>
  </p-card>
</div>

