<p-toast position="top-center"></p-toast>
<app-toolbar></app-toolbar>
<p-card header="Clientes">
  <!--<p-button label="Agregar Tienda" icon="pi pi-plus" (onClick)="onShowAddCustomer()" class="mr-2"></p-button>-->
  <p-table [value]="customerList"  [lazy]="true" (onLazyLoad)="loadCustomers($event)" responsiveLayout="scroll" dataKey="id"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" >
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.lastNames}}</td>
            <td>{{item.addres}}</td>
            <!--<td style="display: flex; gap: 10px;">
              <p-button icon="pi pi-pencil" (onClick)="onShowUpdateCustomer(item)" styleClass="p-button-success"></p-button>
              <p-confirmPopup></p-confirmPopup>
              <p-button icon="pi pi-trash" (onClick)="onDeleteCustomer($event,item.id)" styleClass="p-button-danger"></p-button>
            </td>-->
        </tr>
    </ng-template>
</p-table>
</p-card>
